@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.best-services-container {
    height: auto;
    padding-bottom: 50px ;
    padding-top: 50px;
}

.best-services-title {
    height: 40%;
    display: flex;
    align-items: flex-end;
}

.best-services-align-under-search {
    margin-top: 50px;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.best-services-align-title-center {
    height: 50%;
    width: 30%;
}

.best-services-main-title {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.best-services-main-title span {
    color: #ffb235;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    letter-spacing: 3px;
}

.best-services-second-title {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(109, 109, 109);
    font-size: 0.9em;
    text-align: center;
    margin: 10px;
}



.best-services-cards-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.card-container {
    min-height: 400px;
    width: 360px;
    padding: 10px;
}

.card-container-padding {
    min-height: 400px;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;

}

.card-container-icon-section {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card-container-icon-section img {
    height: 45px;
    margin: 20px;
    object-fit: contain;
}

.card-container-title-section {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container-title-section span {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 0.9em;


}

.card-container-content-section {
    height: 60%;
    padding: 15px;
}

.card-container-content-section span {
    color: rgb(117, 117, 117);
    font-family: 'Poppins', sans-serif;
}

/* mobile */

@media only screen and (max-width: 1200px) {
.best-services-align-under-search
{
    margin-top: 160px;
}
}


@media only screen and (max-width: 700px) {
    .best-services-align-under-search {
        margin-top: 240px;
    }
}

@media only screen and (max-width: 550px) {
    .best-services-align-under-search {
        margin-top: 600px;
    }
}